<html>
  {{template "header.tmpl.html"}}
<body>
<div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
      <img src="/static/igc.png">
      </a>
      <h1>AWESOME OR NOT THIS IS 404</h1>
      <p>This time you flew to the end of internet!</p>
    </div>
</div>
</body>
</html>
