<div class="container" id="api">
    <div class="row">
      <div class="col-sm-2">
        <p>
{{template "json.tmpl.html"}}
        </p>
      </div>
      <div class="col-sm-4">
        <p>
AIFooD offer API access to the official Norwegian "Matvaretabell". You can also do a direct query by uploading a valid json file.
        </p>
      </div>
    </div>
