<body>
  <div class="jumbotron text-center">
    <div class="container">
      <a href="/" class="lang-logo">
        <img src="/static/igc.png">
      </a>
{{template "home.tmpl.html"}}
    </div>
  </div>
  <div class="container" id="bottom">
    <div class="row">
      <div class="col-sm-2">
        <p>
{{template "json.tmpl.html"}}
Icons made by <a href="https://www.flaticon.com/authors/surang" title="surang">surang</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a>
        </p>
      </div>
      <div class="col-sm-4">
        <p>
AIFooD offer API access to the official Norwegian "Matvaretabell". You can also do a direct query by uploading a valid json file.
        </p>
      </div>
    </div>
</body>
