<h1>AI food explorer!</h1>
  <p>Explore your food by uploading a food record</p>
  <a type="button" class="btn btn-lg btn-default" href="https://igcinfo-falckonv.herokuapp.com/aifood/api/nutrients"><span class="glyphiconglyphicon-flash"></span> Upload your food record</a>
  <a type="button" class="btn btn-lg btn-primary" href="https://igcinfo-falckonv.herokuapp.com/aifood/api/"><span class="glyphiconglyphicon-download"></span> Upload format for AIFood</a>
  <a type="button" class="btn btn-lg btn-primary" href="https://igcinfo-falckonv.herokuapp.com/aifood/api/info"><span class="glyphiconglyphicon-download"></span> API for AIFood</a>
