<!DOCTYPE html>
<html>
  {{template "header.tmpl.html"}}
  {{template "nav.tmpl.html"}}
  <body>
    <div class="jumbotron text-center">
      <div class="container">
  {{template "api.tmpl.html"}}
      </div>
    </div>
    <div class="container" id="bottom">
      <div class="row">
        <div class="col-sm-2">
          <p>
  {{template "json.tmpl.html"}}
          </p>
        </div>
        <div class="col-sm-4">
          <p>
  AIFooD offer API access to the official Norwegian "Matvaretabell". You can also do a direct query by uploading a valid json file.
          </p>
        </div>
      </div>
  </body>
</html>
