<nav class="navbar navbar-default navbar-static-top navbar-inverse">
  <div class="container">
    <ul class="nav navbar-nav">
      <li class="active">
        <a href="/aifood/"><span class="glyphicon glyphicon-menu-right"></span>AIFooD</a>
      </li>
      <li>
        <a href="https://igcinfo-falckonv.herokuapp.com/igcinfo/api/"><span class="glyphicon glyphicon-menu-right"></span>AIFooD-API</a>
      </li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-hourglass"></span> Prepare for upload <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li class="divider"></li>
            <li><a href="https://igcinfo-falckonv.herokuapp.com">Upload your Nutrients</a></li>
            <li><a href="https://igcinfo-falckonv.herokuapp.com/aifood/EXPLORE">Explore options</a></li>
            <li class="divider"></li>
          </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="navbar-right">
        <a href="https://igcinfo-falckonv.herokuapp.com/aifood/"><span class="glyphicon glyphicon-tent"></span>MyAIFooD</a>
      </li>
    </ul>
  </div>
</nav>
